<div class="panel panel-default" *ngIf="recipe">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge">{{recipe.primaryCategory.title}}</span>
      <span style="margin-left: 5px">{{recipe.name}}</span>
      <a class="pull-right" style="cursor: pointer; margin-right: 5px; font-size: 1.2em;" (click)="addToShoppingCard()">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </a>
      <a class="pull-right" style="cursor: pointer; margin-right: 5px; font-size: 1.2em;" (click)="likeRecipe()">
        <span class="glyphicon glyphicon-heart"></span>
      </a>
      <a class="pull-right" style="cursor: pointer; margin-right: 5px; font-size: 1.2em;" (click)="removeRecipe()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="thumbnail">
          <img [src]="getImageUrl()">
        </div>
      </div>
      <div class="col-xs-6">
        <div *ngFor="let ingredientGroup of recipe.recipeIngredientGroups">
          <ul class="list-group">
            <li *ngFor="let ingredient of ingredientGroup.recipeIngredients" class="list-group-item">
              <span *ngIf="ingredient.quantity.value">{{ingredient.quantity.value}}</span>
              <span *ngIf="ingredient.quantity.from">od {{ingredient.quantity.from}}</span>
              <span *ngIf="ingredient.quantity.to">do {{ingredient.quantity.to}}</span>
              <span>{{ingredient.recipeIngredientUnits.length > 0 ? ingredient.recipeIngredientUnits[0].notation : ''}}</span>
              <span>{{ingredient.notation}}</span>
              <span>{{ingredient.preparation}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div *ngFor="let stepGroups of recipe.recipeStepGroups">
          <ul class="list-group">
            <li *ngFor="let step of stepGroups.recipeSteps; let i = index" class="list-group-item">
              <span class="badge" style="float: left; margin-right: 5px">{{i + 1}}</span>
              <span [innerHTML]="step.formattedText"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li *ngFor="let additionalInformation of recipe.additionalInformations" class="list-group-item">
            <span class="additional-information" [innerHTML]="additionalInformation.information"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
