<ion-header>
  <ion-navbar>
    <ion-title>{{ recipe.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let ingredientGroup of recipe.recipeIngredientGroups">
    <ion-card-content>
      <div *ngFor="let ingredient of ingredientGroup.recipeIngredients">
        {{ getIngredientText(ingredient) }}
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let stepGroups of recipe.recipeStepGroups">
    <ion-card-content>
      <div *ngFor="let step of stepGroups.recipeSteps; let i = index">
        <span [innerHtml]="step.formattedText"></span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="recipe.additionalInformations">
    <ion-card-content>
      <div *ngFor="let additionalInformation of recipe.additionalInformations" class="list-group-item">
        <span [innerHtml]="additionalInformation.information"></span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

