<div class="row">
  <div class="col-xs-3">
    <div class="input-group" style="padding-bottom: 2px;">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filteredName">
    </div>

    <ul class="list-group" style="height: 92vh; overflow-y: scroll;">
      <div *ngFor="let recipe of recipes | filter:filteredName" class="list-group-item">
        <a [routerLink]="[recipe.id]">
            <span style="word-wrap: break-word; max-width: 230px; display: inline-block;">{{recipe.name}}</span>
        </a>
      </div>
    </ul>
  </div>

  <div class="col-xs-9">
    <router-outlet>
    </router-outlet>
  </div>
</div>
