<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title pull-left">
      <span>{{ticker.name}}</span>
    </div>
    <div class="panel-title pull-right">
                  <span class="badge" style="margin-right: 10px; margin-top: 5px;"
                        [ngStyle]="{background: getBadgeColor(ticker)}">{{ticker.ranking}}</span>

      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-default" (click)="ticker.rankUp()">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" (click)="ticker.rankDown()">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <img [src]="ticker.getUrl()">
  </div>
</div>
